.container {
    margin-top: 1em;
}

.description {
    padding-bottom: .75rem;
    color: #6c757d;
    text-align: left;
}

.api-table {
    width: 100%;
}

.icons {
    text-align: right;
}

.icons img {
   width: 3em;
   margin-bottom: 1em;
}